.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: 
        tracking-in-contract-bck /* 1. Name: The @keyframes being used */
        1s                       /* 2. Duration: How long the animation lasts */
        cubic-bezier(0.215, 0.610, 0.355, 1.000) /* 3. Timing: The "speed curve" (easing) */
        both;                    /* 4. Fill Mode: Keeps the final state when final styles after animation ends */
}

.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}


