@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  /* Base link style */
  .link {
    @apply text-slate-200 hover:text-cyan-400 font-medium;
  }
  
 
  /* Base nav-line style (the general class) */
  .nav-line {
    /* Layout & Base interaction */
    @apply cursor-pointer hover:text-cyan-400;
    
    /* Line Default visuals  */
    @apply before:content-[''] before:inline-block before:h-px before:w-8  before:bg-slate-500;
    
    /* & hover */
    @apply  hover:before:w-16 hover:before:bg-cyan-400;
  }

  /* Active state for nav-line */
  .nav-line.active {
    @apply  text-cyan-400  before:w-16 before:bg-cyan-400;
  }
  
